.airport {
  position: relative;
  display: flex;
  min-height: 390px;
  overflow: hidden;
  border-radius: 16px;

  &:hover .content {
    transform: translateY(0);
  }

  .content {
    z-index: 1;
    width: 100%;
    padding: 24px 32px;
    color: var(--clr-white);
    margin-top: auto;
    transform: translateY(150px);
    transition: transform 0.3s;
  }

  .airport-name {
    font-size: 24px;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-bluish-grey);
  opacity: 0.2;
}

.basicInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 35px;

  .info-wrapper {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    font-size: 32px;
    font-weight: 700;
  }

  p {
    font-size: 24px;
    font-weight: 600;
  }
}

.button-start-from {
  margin-right: 12px;
}

.direct-connections {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  font-size: 20px;
}

.direct-connection {
  padding: 0 8px;
  margin-bottom: 5px;
  border-right: solid 2px #fff;
  &:first-child,
  &:nth-child(8n) {
    padding-left: 0;
  }
}

.extra-connections {
  margin-left: 5px;
}
